<html>
<body>
   <H2>Restaurant Details</H2>
   <p>Restaurant ID:<%= restaurant.restaurant_id %></p>
   
     <% if (booking.photo){ %>
	   <img src="data:image/jpg;base64, <%= booking.photo %>"><br>
	   <% } %>
     <a href="/edit?_id=<%=restaurant._id">edit</a><br>
	 <a href="/">home</a>
     <a href="new">new</a>
	 </body>
	 </html>
