<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  </head>
<body>
   <H2>Create New Restaurant </H2>
   <form action='insert' method='POST' enctype="multipart/form-data">
   <p>Name:<input type='text' name='name' id='name' required></p>
   <p>Borough:<input type='text' name='borough' id='borough' required></p>
   <p>Cuisine:<input type='text' name='cuisine' id='cuisine' required></p>   
   <p>Street:<input type='text' name='street' id='street' required></p>
   <p>Building:<input type='text' name='building' id='building' required></p>
   <p>Zipcode:<input type='text' name='zipcode' id='zipcode' required></p>
   <p>GPS Coordinates(lon.):<input type='number' name='lon' id='lon' min='-180' max='180'  step="any" required> 
   <p>GPS Coordinates(lat.):<input type='number' name='lat' id='lat' min='-90' max='90'  step="any" required>
   <p>Photo:<input type="file" name="filetoupload"></p>
   <input type='submit' value='submit'>
   </form>       
   <a href="/">home</a>
   </body>
   </html>
