<html>
<body>
   <h2>Search Result</h2>
   <h2>There are <%= nRestaurants %> Restaurant(s)</h2>

   <ul>
     <% for (var r of restaurants){ %>
	 <li>Restaurant Name:<a href="/details?_id=<%= r._id %>"><%= r.name %></a></li>
	 <% } %>
	 </ul>
      <a href="home">home</a>
      <a href="new">new</a>
      <a href="logout">logout</a>
	 </body>
	 </html>
     
